services:
  backend:
    build:
      context: ./jobApplicationTrackerBackend
      dockerfile: DockerfileBackend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/job-tracker-db?authSource=admin
    depends_on:
      - mongodb
    networks:
      - job-tracker-network

  frontend:
    build:
      context: ./jobApplicationTrackerFrontend
      dockerfile: DockerfileFrontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - job-tracker-network

  mongodb:
    image: mongo:7.0
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: job-tracker-db
    volumes:
      - mongo-data:/data/db
    networks:
      - job-tracker-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

networks:
  job-tracker-network:
    driver: bridge

volumes:
  mongo-data:
    driver: local